[Unit]
Description=Rocket Them All host and Docker firewall
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rta-firewall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
